nav li a{
    text-decoration: none;
}
nav li {
    list-style: none;
    display: inline;
    margin: 15px;
    justify-content: space-between;
}
nav li a:hover{
    color: blueviolet;
}

footer{
    text-align: center;
}